body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    background-color: bisque;
}

.title {
    font-size: 50px;
    background-color: rgb(216, 173, 121);
}

.ingredients,
.instructions {
    text-align: left;
}